.auth-card{
    /*width: 356px !important;*/
}





.auth-title{
    color:#2B2A34;
    font-weight: 700;
    font-size: 18px;
}


.google-button{
    border: 1px solid var(--google-blue);
    color:  var(--google-blue);
    transition:
            background-color .2s ease,
            color .2s ease,
            box-shadow .2s ease,
            transform .05s ease;
}

.google-button:hover{
    background-color: var(--google-blue);
    color:  #ffffff;
}

.btn-auth{
    background: #F1F1F1;
    color: #5C5B64;
    border-radius: 999px;
    border: none;
    padding: .35rem .9rem;
}

.btn-auth:hover{
    color: #ffffff;
    background: var(--teal);

}
.btn-outline-auth{
    color: #2e3742;
    /*background: ;*/
    border-radius: 999px;
    border: 0;
    padding: .35rem .9rem;
}
.btn-outline-auth:hover{
    background: var(--teal);

}
.auth-tabs .btn{
    font-weight: 600;
}


.has-right-icon{
    position: relative;
}
.has-right-icon .form-control{
    padding-right: 2.25rem;
    padding-left: 0.7rem;
    /*padding: 0.5rem 0.5rem 0.5rem 0.5rem;*/
    border-radius: 100px;
    /*padding: 0.8rem;*/
}
.right-icon{
    position: absolute;
    right: .65rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: .7;
    color: #8D8D8D;
    pointer-events: none;
}
.btn-eye{
    background: transparent;
    border: 0;
    padding: 0;
    pointer-events: auto;
    opacity: .75;
}

.auth-or{
    text-align: center;
    color: #6c757d;
    position: relative;
    font-size: 12px;
}
.auth-or::before,
.auth-or::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #e9ecef;

}
.auth-or::before{ left: 0; }
.auth-or::after{ right: 0; }


.btn-primary.rounded-pill{ border-radius: 999px !important; }

@media (max-width: 420px){
    .auth-hover-wrapper .auth-hover-panel{
        width: 92vw;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 1024px){
    .auth-card-panel{
        border-radius: 16px;
        width: 356px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%) translateY(-10px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 1050;
    }
}


.desktop-only-border{
    border: 0 !important;
}


@media (min-width: 992px){
    .desktop-only-border{
        border: 1px solid var(--bs-border-color) !important;
        border-radius: 1.5rem !important;
    }
}
