


.top-menu-icon {
    color: #ffffff;
    transition: color 0.2s ease, border-color 0.2s ease;
}


.top-menu-icon:hover {
    color: #52BDBD;
    transition: color 0.2s ease, border-color 0.2s ease;

}


.my-btn-color-bg{
    background-color: #52BDBD;
    color:#fff;
    border-radius: 30px;
    padding: 10px 23px 10px 23px;
    border: none;
    transition: color 0.2s ease;

}


.my-btn-color-bg:hover .top-menu-icon {
    color: #52BDBD;
}

.my-btn-color-bg:hover{
    background-color: #fff;
    color:#52BDBD;
    border-radius: 30px;
    padding: 10px 23px 10px 23px;
    border: none;
    transition: color 0.2s ease;

}



/* Dropdown menu ძირითადი სტილები */
.main-menu {
    position: relative;
    z-index: 100;
}

.menu-link {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    border-radius: 4px;
}

.arrow {
    font-size: 10px;
}

/* dropdown wrapper */
.dropdown {
    position: relative;
}

/* dropdown list */
.dropdown-menu {
    border-radius: 16px !important;
    border:1px solid #E2E1E7;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    min-width: 180px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 999;
}

/* hover dropdown trigger */
.dropdown:hover > .dropdown-menu {
    display: block;
    margin-right: 2px;
}

/* dropdown list items */
.dropdown-item {
    display: block;
    padding: 10px 15px;
    color: #222;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-item:hover {
    background-color: transparent;
    color:#52BDBD;
}

/* მრავალდონიანი სუბმენიუ */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    display: none;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

/* hover-ზე ფონის ცვლილება მხოლოდ იმ ელემენტებზე, რომლებსაც აქვს submenu */
.has-submenu:hover > .menu-link {
    background-color: #52BDBD;
    color: white;
}


/* menu hover end */

.res-menu {
    position: absolute;
    top: 100%;        /* ან საჭიროებისამებრ დააყენე */
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    z-index: 9999;
    box-sizing: border-box;
}

