@import url('globals/theme.css');
@import url('globals/globals.css');
@import url('globals/common.css');
@import url('modules/topMenu.css');
@import url('modules/language.css');
@import url('modules/dropdownCart.css');
@import url('globals/slider.css');
@import url('modules/homeboxses.css');
@import url('globals/footer.css');
@import url('modules/brands.css');
@import url('modules/calculate.css');
@import url('modules/products.css');
@import url('modules/borders.css');
@import url('modules/productDetails.css');
@import url('modules/auth.css');
