.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content {
  padding: 0!important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*Spiner css*/

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 10px solid #fff;
  border-radius: 50%;
  border-top: 10px solid #3b7ddd;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}


/* My modal */
.myModalContent{
    background-color: #fff;

    position:absolute;
    height: 100px;
    width: 20%;
    z-index: 10000;
    border:3px solid #0a2730 !important;
    border-radius: 5px;
    right:10%;
    color:#fff;
    padding: 1rem;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.activetrue {
  display: block;
}
.active-form-lang{
  font-weight: bold;
  color:#fff;
  background: #3b7ddd !important;
}
.active-form-lang:hover{
  color:#fff !important;
}
.input-style-border-switch{
  border:1px solid #ced4da;
  border-radius: 0.2rem;
  color: #495057;
  font-weight: 400;
  line-height: 1.5;
}

.page-statuses{
    font-size: 0.7rem;
}
.lite-background {
  background-color: #f4f4f4 !important;
}
.font-weight-bold{font-weight: bold}

.active span{color:#0a2730; font-weight: bold;}

/*file uploads*/
.file-upload-button{
  border:none;
  background: none;
}
.file-upload-button img{
  width: 100px;
  padding:1rem;
}

.file-upload-container{
  background: #f3f3f3;
}

.file-upload-container:hover{
  background: #e8e7e7;
  transition: all .4s ease;
  border:1px dashed #a2a2a2;
}

/*records card*/
.card-draggable{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 20000;
  padding: 1rem;
  cursor: grab;
}
.card-close{
  font-size: larger;
  cursor: pointer;
  margin-top:-0.7rem;
}


.tools-choose-config{
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #fff;
  /*justify-content: center;*/
}

/*tiptap*/
.tiptap-editor {
    min-height: 300px;
    max-height: 500px;
    overflow-y: auto;
    padding: 16px;
    font-size: 16px;
    line-height: 1.6;
    outline: none;
}

.tiptap-editor:focus {
    border-color: #1976d2;
}

.tiptap-editor * {
    outline: none;
}

