@font-face {  font-family: "FiraGO";  src: url( "../fonts/FiraGO-Bold.woff");}
@font-face {  font-family: "FiraGOUPP-Bold";  src: url( "../fonts/FiraGOUPP-Bold.ttf");}
@font-face {  font-family: "FiraGOUPP-Medium";  src: url( "../fonts/FiraGOUPP-Medium.ttf");}
@font-face {  font-family: "FiraGOUPP-Regular";  src: url( "../fonts/FiraGOUPP-Regular.ttf");}
@font-face {  font-family: "FiraGO-Book";  src: url( "../fonts/FiraGO-Book.woff");}
@font-face {  font-family: "FiraGO-Regukar";  src: url( "../fonts/FiraGO-Regular.woff");}

.low-font{   font-family: Calibri, sans-serif; font-weight: 500}

/* მთელი სკროლბარის სტილი */
::-webkit-scrollbar {
    width: 4px; /* სქროლის სიგანე ვერტიკალურ შემთხვევაში */
    height: 4px; /* სქროლის სიმაღლე ჰორიზონტალურ შემთხვევაში */
}

/* სკროლბარის სავალი გზა */
::-webkit-scrollbar-track {
    background: #f0f0f0; /* სავალი გზის ფერი */
    border-radius: 8px; /* რკალოვანი კუთხეები */
}

/* სკროლბარის თხელი ნაწილი (ჩაჭიდება) */
::-webkit-scrollbar-thumb {
    background: #888; /* ჩაჭიდების ფერი */
    border-radius: 8px; /* რკალოვანი კუთხეები */
}

/* ჩაჭიდება ჰოვერისას */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* უფრო მუქი ფერი ჰოვერისას */
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-100.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-200.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-300.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-400.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-500.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-600.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-700.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-800.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-900.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-100-Italic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-200-Italic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-300-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-400-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-500-Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-600-Italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-700-Italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-800-Italic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-900-Italic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
.title_font {font-family: "FiraGOUPP-Medium" !important;}
.text_font{font-family: "FiraGO-Book" !important;}

.card-title {font-family: "FiraGOUPP-Medium" !important;}
.button_font{font-family: "FiraGOUPP-Medium" !important;}
.font_form_title{
    font-family: "FiraGOUPP-Regular";
}

.font_form_text{
    font-family: "FiraGO-Book";
}


.section-container{
    margin: 1.5rem;
}
.product-detail-cont{
    margin: 1.5rem;
}
.route-container{
    margin-top: 1.5rem;
}
.my-container{
    background-color: #f8f4f4;
    position: sticky;
    top:0;
    z-index: 222;
}

.search-bar-menu-search{
    width: 50%;
    justify-content: end;
}

@media (max-width: 575.98px) {  #top-nav{
    display: none !important;
} }
@media (max-width: 767.98px) {
    .sidebar-categories{
        display: none;
    }
    .sidebar-container{
        border-radius: unset !important;
        /*display: none;*/
    }

    .product-list-container{
        padding: 0 !important;
    }

    .right-section-cont{
        /*padding: 0 !important;*/
        /*margin-top: 1rem !important;*/
    }


    #top-nav{
        display: none !important;
    }
    .section-container{
        /*margin:0.3rem !important;*/
    }
    .route-container{
        margin-top: 0;
        padding: 0;
    }
    .product-card{
        margin: 1rem;
    }

    #top-nav{
        position: sticky;
        top: 0;
        z-index: 222;
        background-color: #ffffff;
        border-bottom:1px solid #f9f9f9 ;
    }

    .my-container{
        background-color: #ffffff;
        padding:0 1rem;
    }
    .detail-gallery-cont{
        /*padding: 1rem !important;*/
    }
    .m-cart-order{
        margin-top: 1rem;
    }
    .product-card img{
        border-radius: 0 !important;
    }

    .search-bar-menu-search{
        width: 100% !important;
        padding:1rem !important;
    }
    .product-detail-title{
        margin-top: 1rem !important;
    }

    .mob-product-cont{
        padding: 0!important;
    }
    .mob-menu-bar-container{
        display: block !important;
    }


    .hidden-for-mob{
        display: none !important;
    }

    .mob-btm-space{
        margin-bottom: 7rem;
    }

   #fb-root{
        bottom: 5rem !important;
    }
}

.form-control::placeholder {
    color: rgba(169, 169, 169, 0.85) !important;
    opacity: 1; /* Firefox */
}

.form-control::-ms-input-placeholder { /* Edge 12 -18 */
    color: red;
}

@media (max-width: 1199.98px) {

    .sidebar-categories{
        display: none;
    }
    .sidebar-container{
        border-radius: unset !important;
        /*display: none;*/
    }

    .product-list-container{
        padding: 0 !important;
    }

    .right-section-cont{
        /*padding: 0 !important;*/
        /*margin-top: 1rem !important;*/
    }


    #top-nav{
        display: none !important;
    }
    .section-container{
        /*margin:0.3rem !important;*/
    }
    .route-container{
        margin-top: 0;
        padding: 0;
    }
    .product-card{
        margin: 1rem;
    }

    #top-nav{
        position: sticky;
        top: 0;
        z-index: 222;
        background-color: #ffffff;
        border-bottom:1px solid #f9f9f9 ;
    }

    .my-container{
        background-color: #ffffff;
        padding:0 1rem;
    }
    .detail-gallery-cont{
        /*padding: 1rem !important;*/
    }
    .m-cart-order{
        margin-top: 1rem;
    }
    .product-card img{
        border-radius: 0 !important;
    }

    .search-bar-menu-search{
        width: 100% !important;
        padding:1rem !important;
    }
    .product-detail-title{
        margin-top: 1rem !important;
    }

    .mob-product-cont{
        padding: 0!important;
    }
    .mob-menu-bar-container{
        display: block !important;
    }


    .hidden-for-mob{
        display: none !important;
    }

    .mob-btm-space{
        margin-bottom: 7rem;
    }

    #fb-root{
        bottom: 5rem !important;
    }
}
