.cart-hover-wrapper {
    position: relative;
}
.cart-hover-wrapper > button {
    height: 70px;
}

.cart-hover-panel {
    border-radius: 16px;
    width: 462px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1050;
}

/* Hover-ზე გამოჩენა */
.cart-hover-wrapper:hover .cart-hover-panel {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.cart-hover-panel-close-mob{
    display: none;
}
/* მობილურისთვის სრული ეკრანით */


.quantity-selector {
    border: 1px solid #ccc;
    border-radius: 999px;
    overflow: hidden;
}

.quantity-btn,
.quantity-value {
    padding: 1px 10px;
    background: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #1e1e1e;
}

.quantity-btn {
    cursor: pointer;
    border-right: 2px dashed #eee;
    border-left: 2px dashed #eee;
}

.quantity-selector > .quantity-btn:first-child {
    border-left: none;
}

.quantity-selector > .quantity-btn:last-child {
    border-right: none;
}

.quantity-value {
    min-width: 20px;
    text-align: center;
}


.sale-cart-dropdown-product{
    background-color: #FF9823;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    padding:1px 5px 1px 5px;
}

.cart-dropdown-items-box {
    padding: 0.7rem;
    background-color: #FAFAFB;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
}

.cart-dropdown-items-box:hover {
    background-color: #efefef;
    border:2px solid #eeeeee;
}


.card-text-color{
    color: #54525F !important;
}

.cart-dropdown-min-sale-price{
    color:#A3A1AD ;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .cart-hover-panel {
        position: fixed;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        background: white;
        padding: 1rem;
        overflow-y: auto;
        /* ეფექტისთვის */
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 1050;
    }

    .cart-hover-wrapper:hover .cart-hover-panel {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .cart-hover-panel-close-mob {
        display: block;

    }

    .cart-hover-panel:has(.cart-hover-panel-close-mob:hover) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
