.media-lists{
    padding-left: 0;
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
}

.media-lists li{
    list-style: none;
    transition: all .4s ease;
    cursor: pointer;
}
.media-lists li img{
    width: 95%;
    margin-top: 0.4rem;
    height: 180px;
    object-fit: cover;
}
.media-lists li:hover{
    background-color: #fff;
    transition: all .4s ease;
}
.media-file-tools{
    display: inline-flex;
    padding: 1em;
    justify-content: space-between;
}
.tools-ul{
    list-style: none;
    margin:0.5rem;
}

.tools-ul li{ padding-left:1rem; }
.tools-ul li label{padding-left: 4px; cursor: pointer;}
.file-manager-popup{
    position: fixed;
    top: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    z-index: 11;
}
.file-manager-popup .card{ overflow-y: scroll; height:90vh;}
.popup-back{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.close span{
    color:#fff;
    cursor:pointer;
    font-size:2rem;
}
.sidebar-image{
    width:100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    padding: 3px;
}

.image-delete{
    position: absolute;
    padding:10px;
}
.img-covers-container{

    display: flex;
    flex-wrap: wrap;

}

.plus-cover{
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;

}

.plus-cover img{
    width: 100%;
    padding: 3rem;
}
#covers_types{
    cursor:pointer;
}


.file-upload-button {
    padding-top: 1rem;
    border:none;
    background-color: transparent;
}

.file-upload-button  img{
   width: 50px;
}