.mob-menu-bar-container{
    position: fixed;
    z-index: 555;
    background-color: #ffffff;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #a2a2a2;
    bottom: 0 !important;
}

.mob-cart-count{
    /*background-color: red;*/
    /*color:#fff;*/
    padding: 0.3rem;
    width: 50px;
    border-radius: 150%;
}

.mob-cart-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    border-radius: 90px;
    background: #ffffff;
    border: 4px solid #ffba16;
    position: absolute;
    z-index: 501;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 90px;
    height: 90px;
    top: -30px;
    cursor: pointer;
}

.mob-menu-content-cart{
    overflow: scroll;
    height:50vh;
}

.home-bt-mobile {
    color:#ffc107;

}

.active-bg-mob-cart-bt{
    background-color: #ffba16;
    border: 4px solid #fff !important;

}

