.swiper-slide-thumb-active{

    border: 3px solid var(--teal, #52BDBD);
}

 .swiper-button-next,
.swiper-button-prev {
    color: var(--ink);
    transition: color .2s ease, background-color .2s ease, border-color .2s ease;
}

 .swiper-button-next,.swiper-button-prev  {
    padding:1.5rem !important;
}
.swiper-button-next:hover::after,
.swiper-button-next:active::after,
.swiper-button-next:focus-visible::after {
    color: var(--teal) !important;

}

 .swiper-button-next:hover,
.swiper-button-next:active,
.swiper-button-next:focus-visible {
    background-color: rgba(82, 189, 189, 0.12); /* teal with alpha */
    border-radius: 999px;
}


.swiper-button-prev:hover::after,
.swiper-button-prev:active::after,
.swiper-button-prev:focus-visible::after {
    color: var(--teal) !important;

}

.swiper-button-prev:hover,
.swiper-button-prev:active,
.swiper-button-prev:focus-visible {
    background-color: rgba(82, 189, 189, 0.12); /* teal with alpha */
    border-radius: 999px;
}



/**
 qty inside product
 */
.qty-btn-item{
    background-color: #F0F0F0;
    height: 30px;
    display: flex;
    color:#2B2A34;
    align-items: center;
    align-content: center;
    font-size: 1.5rem;
}
.qty-span-item{
    width: 53px;
    text-align: center;
    border:2px solid #D4D3DA;
}



/* attention alert */
