.footer-hover ul li a {
    color: #ffffff !important;
    transition: color 0.3s ease;
    text-decoration: none;
}

.footer-hover ul li a:hover {
    color: #52BDBD !important;
}

.custom-footer-img {
    width: 150px;
    height: 150px;
}



.hidden-footer-tab{
    display: block;
}

.show-footer-tab{
    display: none;
}




@media (max-width: 1024px) {
    .hidden-footer-tab{
        display: none !important;
    }
    .show-footer-tab{
        display: block;
    }
}

@media (max-width: 576px) {
    .custom-footer-img {
        width: 90px;
        height: 90px;
    }
    .hidden-footer-tab{
        display: block !important;
    }
    .show-footer-tab{
        display: none;
    }
}