

@font-face {
  font-family: "FiraGO";
  src: url( "../../assets/fonts/FiraGOUPP-Regular.ttf")
  format("truetype");
}

@font-face {
  font-family: "FiraGOUPP-Bold";
  src: url( "../../assets/fonts/FiraGOUPP-Bold.ttf")
  format("truetype");
}

@font-face {
  font-family: "FiraGO-Book";
  src: url( "../../assets/fonts/FiraGO-Book.ttf")
  format("truetype");
}

.title_font_bold {
  font-family: 'FiraGOUPP-Bold', sans-serif;
  text-transform: uppercase;
  font-variant: normal;
  font-feature-settings: 'c2sc' off, 'smcp' off;
}

.title_font {
  font-family: 'FiraGO', sans-serif;
  text-transform: uppercase;
  font-variant: normal;
  font-feature-settings: 'c2sc' off, 'smcp' off;
}


.text_font {
  font-family: 'FiraGO-Book', sans-serif;
  font-variant: normal;
  font-feature-settings: 'c2sc' off, 'smcp' off;
}



html,
body {
  max-width: 100vw;
  /*overflow-x: hidden;*/
  font-family: 'FiraGO', sans-serif;
  /*text-transform: uppercase;*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.my-bg-color{
  background-color: #52BDBD;

}
.my-btn-blue {
  background-color: #52BDBD;
  padding: 10px 20px 10px 20px;
  color: #fff;
  border-radius: 2rem;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.3s ease;
}


.my-btn-danger {
    background-color: var(--my-danger);
    padding: 10px 20px 10px 20px;
    color: #fff;
    border-radius: 2rem;
    border: 1px solid transparent;
    outline: none;
    transition: all 0.3s ease;
}

.my-btn-blue:hover {
  background-color: #fff;
  color: #52BDBD;
  border-color: #52BDBD;
}

.my-btn-danger:hover {
  background-color: #fff;
  color: var(--my-danger);
  border-color: var(--my-danger);
}

.my-btn-dark {
  background-color: #5C5B64;
  padding: 10px 20px 10px 20px;

  color: #fff;
  border-radius: 2rem;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.3s ease;
}

.my-btn-dark:hover {
  background-color: #fff;
  color: #5C5B64;
  border-color: #5C5B64;
}


.my-btn-light {
  background-color: #fff;
  padding: 10px 20px 10px 20px;

  color: #232323;
  border-radius: 2rem;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.3s ease;
}

.my-btn-light:hover {
  background-color: #5C5B64;
  color: #fff;
  border-color: #5C5B64;
}

.my-btn-light-outline {
  background-color: #fff;
  padding: 10px 20px 10px 20px;

  color: #232323;
  border-radius: 2rem;
  border: 1px solid #D4D3DA;
  outline: none;
  transition: all 0.3s ease;
}

.my-btn-light-outline:hover {
  background-color: #5C5B64;
  color: #fff;
  border-color: #5C5B64;
}





.fade-slide {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.fade-slide.show {
  opacity: 1;
  transform: translateY(0);
}


.firagoTitle{
  font-family: 'FiraGO', sans-serif;
}


.container-with-bg-image{
  background-image: url("/assets/patterns/headerBackground.svg") !important;
  background-repeat: repeat;
  background-size: auto; /* ან სხვა მნიშვნელობა */
}

.hover-zoom {
  transition: transform 0.3s ease;
}
.hover-zoom:hover {
  transform: scale(1.05);
}

.my-text-color{
  color: #52BDBD !important;
}
.my-text-color:hover{
  color: #52BDBD !important;
}




/*accordion*/

.accordion-button {
  border: none !important;
  box-shadow: none !important;

}

.accordion-button::after {
  filter: brightness(0) saturate(100%) invert(74%) sepia(8%) saturate(2296%) hue-rotate(134deg) brightness(95%) contrast(92%);
}

.accordion-button.collapsed::after {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
}


/** current url box */
.current-url-box{
  color:#6A6A6A;
}
.custom-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: url("data:image/svg+xml;utf8,<svg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1.5L5 5.5L1 9.5' stroke='%236A6A6A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}
.breadcrumb-item:hover{
  color:#232323;
}

/** cover container */
.page-cover{
  position:relative;
  width: 100%;
  height: 20vh
}