/* slider.css */
.custom-pagination .swiper-pagination-bullet {
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: #888;
    opacity: 1;
    border-radius: 2px;
    transition: background-color 0.3s, width 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 32px;
}

.slider-img-size{
    position:relative;
    width: 100%;
    height: 500px;
    object-fit: cover;

    /*height: 60vh;*/
}



@media (max-width: 768px) {
    .slider-img-size {
        height: 200px;
        object-fit: cover !important;
        /*height: 20vh;*/
    }
}

@media (max-width: 576px) {
    .slider-img-size {
        height: 150px;
        object-fit: cover !important;
        /*height: 20vh;*/
    }
}